body {
    display: flex;
    /* Todas as "caixas" ficam alinhadas na horizontal */
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    /* Cria um espaço entre as "caixas"*/
}

.caixa-video-mario {
    position: fixed;
    /*Posiciona de forma fixa */
    top: 0;
    /* Posiciona no topo */
    z-index: -1;
    /*Determina se o elemento fica na frente ou atrás */
    width: 100%;
    height: 100%;
}

video {
    position: fixed;
    top: 0;
    min-height: 100%;
    /*O minimo vai ser 100%, alonga para ocupar toda a tela */
    min-width: 100%;
}

.mascara-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.7) 15%,
     rgba(10, 12, 16, 0.99) 85%);
}

.caixa-pricipal {
    width: 40%;
}

.logo-mario {
    width: 300px;
}

p {
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

button {
    height: 40px;
    width: 150px;
    background: #c51111;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    background: #8d0c0c;
}

.imagem-mario-luigi {
    height: 600px;
}